<div class="input-group input-group-lg" [formGroup]="form">
  {{products | async | json}}
  <select class="form-control" formControlName="productId" [class.is-invalid]="(productId.invalid && submitted.value) || invalid">
    <option [ngValue]="null">Product</option>
    <option *ngFor="let product of products | async" [value]="product.id">{{product.name}}</option>
  </select>
  <input type="number" class="form-control" placeholder="quantity" formControlName="quantity" [class.is-invalid]="(quantity.invalid && submitted.value) || invalid">
  <input type="number" class="form-control" placeholder="value" formControlName="value" [class.is-invalid]="(value.invalid && submitted.value) || invalid">
  <div class="input-group-append text-monospace">
    <button *ngIf="addMode" class="btn btn-outline-primary" type="button" (click)="onAdded()">+</button>
    <button *ngIf="!addMode" class="btn btn-outline-danger" type="button" (click)="ondeleted()">-</button>
  </div>
</div>
