<div class="input-group input-group-lg" [formGroup]="form">
  <input
    *ngIf="newPaymentMethod"
    type="text"
    class="form-control"
    formControlName="methodName"
    [class.is-invalid]="(methodName.invalid && submitted.value) || invalid">
  <select
    *ngIf="!newPaymentMethod"
    class="form-control"
    formControlName="methodId"
    [class.is-invalid]="(methodId.invalid && submitted.value) || invalid">
    <option [ngValue]="null">Payment Method</option>
    <option *ngFor="let method of paymentMethods$ | async" [value]="method.id">{{method.name}}</option>
  </select>
  <div class="input-group-append text-monospace">
      <button *ngIf="!newPaymentMethod" class="btn btn-outline-primary" type="button" (click)="onNewPaymentMethodClicked()">+</button>
      <button *ngIf="newPaymentMethod" class="btn btn-outline-primary" type="button" (click)="onNewPaymentMethodClicked()">-</button>
    </div>
  <input type="number" class="form-control" placeholder="value" formControlName="value" [class.is-invalid]="(value.invalid && submitted.value) || invalid">
  <div class="input-group-append text-monospace">
    <button *ngIf="addMode" class="btn btn-outline-primary" type="button" (click)="onAdded()">+</button>
    <button *ngIf="!addMode" class="btn btn-outline-danger" type="button" (click)="onDeleted()">-</button>
  </div>
</div>
